---
import { Counter } from "@components/counter/counter";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Bouquinistes">
  <h1>Bouquinistes</h1>
  <p>TODO</p>
  <Counter client:load />
</Layout>
